.add-todo {
  width: 100%;
  height: 50px;

  &__wrapper {
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    width: calc(100% - 45px);
    height: 100%;
    background-color: $transparent-silver;
    padding: 5px 10px;
    border-radius: 5px;

    &:focus {
      background-color: $silver;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: #{$infinity}px;
    background-color: $main;
    color: white;
    font-size: 20px;
  }
}
