.auth {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $silver;
  z-index: $infinity;

  &__wrapper {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 300px;
    padding: 20px 15px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px $transparent-silver;
    overflow: hidden;
  }

  &__buttons {
    width: calc(100% + 30px);
    height: 40px;
    margin: -20px 0 0 -15px;

    &-button {
      width: 50%;
      height: 100%;
      background-color: #fff;
      transition: 0.2s;

      &:not(.active) {
        opacity: 0.5;
        background-color: $transparent-silver;
      }
    }
  }

  &__form {
    width: 100%;
    height: calc(100% - 25px);
    padding: 25px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-item {
      width: 100%;
      height: 50px;
      padding: 8px;
      font-size: 20px;
      border-radius: 3px;
      border: $silver 1px solid;
    }

    &-button {
      background-color: $main;
      color: white;
      cursor: pointer;
    }

    &-error {
      height: 20px;
      color: $red;
    }
  }
}
