@import './constants.scss';

@import './auth.scss';
@import './header.scss';
@import './todos.scss';
@import './addTodo.scss';
@import './lists.scss';
@import './share.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 14px;
  font-family: sans-serif;
  color: $black;
}

#root {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;

  &__inner {
    width: 100%;
    height: calc(100% - 50px);
    max-width: 900px;
    display: flex;
    margin: 0 auto;
  }

  &__todos {
    width: 80%;
    min-width: 200px;

    &-info {
      display: flex;
      height: 20px;
      color: #777777;
      background-color: $transparent-silver;
      text-transform: lowercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 3px;
    }
  }
}

.disable {
  display: none !important;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

button:disabled {
  visibility: hidden;
}

input {
  outline: none;
  border: none;
  border: transparent 1px solid;

  &:active,
  &:focus {
    border: $main 1px solid;
  }
}
