.lists {
  width: 20%;
  min-width: 200px;
  background-color: $silver;

  &__add {
    width: 100%;
    height: 31px;
    padding: 0 0 0 8px;
    display: flex;
    align-items: center;
    border-bottom: $transparent-silver 1px solid;

    &-label {
      width: 20px;
      height: 20px;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-button {
      width: 100%;
      height: 100%;
      background-color: inherit;
      text-align: center;
      line-height: 90%;
    }

    &-input {
      width: calc(100% - 15px);
      padding: 6px;
      background-color: inherit;
    }
  }
}

.sections-wrapper {
  height: calc(100% - 31px);
  overflow: hidden;
  overflow-y: scroll;
}

.section {
  width: 100%;

  &__title {
    width: 100%;
    background-color: $transparent-silver;
    color: #777777;
    font-size: 0.7rem;
    text-transform: lowercase;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  &__list {
    overflow: hidden;

    &.collapsed {
      max-height: 0;
    }
  }
}

.list {
  width: 100%;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &.active {
    background-color: #ededed;
  }

  &:not(.active):hover {
    background-color: white;
  }

  &__name {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
  }

  &:hover &__buttons {
    opacity: 1;
  }

  &__delete {
    color: $red;
  }

  &__share {
    color: $main;
  }

  &__button {
    width: 15px;
    height: 15px;
    padding: 2px;
    margin: 0 2px;
    background-color: inherit;
    opacity: 0.5;
    font-size: 0.6rem;

    &:hover {
      opacity: 1;
    }
  }
}
