.todos {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
  overflow-y: scroll;
  border-bottom: $transparent-silver 1px solid;
}

.todo {
  width: 100%;
  max-width: 900px;
  min-height: 40px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  background-color: #fff;
  border-bottom: $transparent-silver 1px solid;

  &.dragged {
    visibility: hidden;
  }

  &__drag {
    padding-right: 15px;
    cursor: pointer;
    color: $transparent-silver;
    opacity: 0;
  }

  &__checkbox {
    &-wrapper {
      flex: 1;
    }

    &-label {
      width: 15px;
      height: 15px;
      font-size: 10px;
      text-align: center;
      line-height: 12.5px;
      color: white;
      border-radius: #{$infinity}px;
      background-color: white;
      display: block;
      border: $main 1px solid;
      transform: rotateY(180deg) rotateZ(-45deg);
      user-select: none;
      cursor: pointer;
    }

    &-input {
      display: none;
    }

    &-input:checked ~ &-label {
      background-color: $main;
    }

    &-input:disabled ~ &-label {
      opacity: 0.5;
      cursor: auto;
    }
  }

  &__inner {
    &-wrapper {
      margin: 0 5px;
      flex: 10;
    }

    &-text {
      word-break: break-word;
      padding: 2px;
      font-family: sans-serif;
      border: transparent 1px solid;

      &[contenteditable='true'] {
        border: $main 1px solid;
        border-radius: 5px;
        outline: none;
      }
    }
  }

  &:hover &__delete-wrapper,
  &:hover &__drag {
    opacity: 1;
  }

  &__delete {
    &-wrapper {
      flex: 1;
      opacity: 0;
      transition: 0.2s;
    }

    &-button {
      width: 20px;
      height: 20px;
      border-radius: #{$infinity}px;
      background-color: $red;
      color: white;
      font-size: 0.5rem;
    }
  }
}
